
<!DOCTYPE HTML>
<!--[if lt IE 7 ]> <html lang="en" class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>	<html lang="en" class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>	<html lang="en" class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>	<html lang="en" class="ie ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{$siteTitle} - Fidget</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="/oobio/images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="/oobio/images/logo.png">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold">
    <link rel="stylesheet" type="text/css" href="/oobio/css/bootstrap.min.css">
    <link href="/oobio/et-line-font/style.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/oobio/css/styles.css">
</head>

<body id="home">
<section class="main">
    <div id="Content" class="wrapper topSection">
        <div id="Header">
            <div class="wrapper">
                <div class="logo"><h1><img src="/oobio/images/logo1.png"/>{$siteTitle} </h1></div>
            </div>
        </div>
        <h2>预计发布时间</h2>
        <div class="countdown styled"></div>
    </div>
</section>
<section class="subscribe spacing">
    <div class="container">
    </div>
</section>
<span class="tempBy">POWER BY : {$siteTitle} </span>

<!--Scripts-->
<script type="text/javascript" src="/oobio/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/oobio/js/jquery.countdown.js"></script>
<script type="text/javascript" src="/oobio/js/global.js"></script>

</body>
</html>
